.carousel-img {
  height: 600px !important;
}

.carousel-caption {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  color: rgb(255, 255, 255) !important; 
  font-weight: bolder !important;
  text-align: center !important;
  text-shadow: 
        -1px -1px 0 #000000,  
        1px -1px 0 #000000,    
        -1px 1px 0 #000000,    
        1px 1px 0 #000000;     
}

.carousel-caption h1, .carousel-caption p {
  margin: 0 !important;
  padding: 0 !important;
}

p{
  font-size: 20px;
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 1.75rem !important;
    }

    .carousel-caption p {
        font-size: 1rem !important;
    }

    .carousel-img {
      height: 600px !important;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 1.5rem !important;
    }

    .carousel-caption p {
        font-size: 0.9rem !important;
    }

    .carousel-img {
      height: 550px !important;
    }
}

@media (max-width: 480px) {
    .carousel-caption h1 {
        font-size: 1.25rem !important;
    }

    .carousel-caption p {
        font-size: 0.8rem !important;
    }

    .carousel-img {
      height: 500px !important;
    }
}
