/* Styling for the "About Us" section */
footer .about-us 
  {
    text-align: justify; /* Justify text */
    
  }

  .centre-section
   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container 
  {
    display: flex;
    
  }
  
  .logo 
  {
    max-width: 200px; /* Adjust as needed */
    max-height: 200px;
  }

  .follow-us 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust spacing between logo and "Follow Us" */
  }

  @media (max-width: 600px) 
  {
    .centre-section {
      align-items: flex-start; /* Adjust alignment on smaller screens */
    }

    .logo-container {
      justify-content: center; /* Center the logo on smaller screens */
    }
  
    .follow-us .MuiBox-root {
      justify-content: flex-start; /* Align icons to the left on smaller screens */
    }
  }

  .contact-us 
  {
   display: flex;
  flex-direction: column;
  margin-right: 0px;
  justify-content: flex-start;
  }
  
  .contact-us .MuiBox-root 
  {
    margin-top: 20px; /* Adjust spacing */
  }