.topic{
    color: var(--brown) !important;
    font-size: 40px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

